# import some script
command script import demo_commands.py
command script import douyu/dy_commands.py
command script import panda/pd_commands.py
command script import yy/yy_commands.py
command script import qmtv/qm_commands.py
command script import zhanqi/zq_commands.py

# give alia name of func
command script add -f demo_commands.printworld hello
command script add -f dy_commands.dyBreak dyBreak
command script add -f pd_commands.pdBreak pdBreak
command script add -f yy_commands.yyBreak yyBreak
command script add -f qm_commands.qmBreak qmBreak
command script add -f zq_commands.zqBreak zqBreak
